.MainContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 100px 75px 700px;
    background-color: lightgrey;

}

.TopLinks {
    grid-column: 1 / span 3;
    background-color: white;
}

.TopLinks--home {

}

.TopLinks--login {
    
}

.TopBar {
    grid-column: 1 / span 3;
    background-color: turquoise;
}


.AggData {
    grid-column: 1 / span 3;
    background-color: white;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.AggData--aggItems {
    grid-column: 2;
    display: flex;
    align-items: center;

}

.AggData--addButton {
    grid-column: 3;
}

.Content {
    grid-column: 2;
    grid-row: 4;
    background-color: white;
    display: flex;

}

.Content--header {
    padding: 20px;
    flex: 2
}

.Content-twootList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.Content--twooter {
    border-radius: 50%;
    width: 10%;
    height: auto;
    border: 2px white;
    padding: 10px;

}

.Content--twootText {
    flex-basis: 70%;
}
